* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    text-align: center;
    border: 8px groove cyan;
    margin-bottom: 20px;
}

body {
    background-color: rgba(255, 251, 40, 0.808);
    height: 100vh;
}

footer {
    text-align: center;
    border: 8px groove cyan; 
    width: 100%;
}

article {
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

section {
    border: 4px rgb(255, 37, 146);
    border-style:groove;
    padding: 20px;
    margin-bottom: 20px;
    width: 85%;
}

code {
    user-select:all;
    display: flex;
}

@media screen and (max-width: 1008px) {
    article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        justify-content: center;
        height: 100%;
    }
    header {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        height: 100%;
    }
    header {
        width: 100%;
    }
}

